* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 100vh;
}
h1{
    text-align: center;
    
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/***********  Layout  **********/

.navBar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    background-color: #328CA5;
    height: 80px;
}


/***********   profile ***********/
div.profile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85vh;  
}
img.user{
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: -13px 15px 16px 0px rgba(0,0,0,0.7);
}
/***********   Liste des topic   ***********/
div.topic{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 140vh;  
}
/***********   Liste des categ   ***********/
div.categ{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
}

.liste-categ a{
    display: flex;
    justify-content: center;
}
/***********   HOME   **********/
div.home{
    z-index: 10;
    display: flex;
    height: 95vh;
    padding: 0 10%;
    flex-direction: column;
    justify-content: space-evenly;
}

img.world{
    z-index: 1;
    height: auto;
    width:100%;
    border-radius: 10px;
    box-shadow: -13px 15px 16px 0px rgba(0,0,0,0.7);
    /* position: absolute; */
}
.bienvenue{
    position: relative;
    font-size:x-large;
    text-align: center;
}

.footer{
    background-color: #328CA5;
}